*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

.container{
display:flex;
height:100vh;
}

.left-section{
width:40%;
background-size:cover;
background-position:center;
}

.right-section{
width:60%;
background:#eef4fb;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.logo-bar{
position:absolute;
top:30px;
right:40px;
}

.logo-bar img{
height:55px;
}

.welcome-card{

width:70%;
background:white;
padding:50px;
border-radius:25px;
box-shadow:0 10px 35px rgba(0,0,0,.15);
text-align:center;

}

.center-logo{
height:80px;
margin-bottom:20px;
}

.welcome-card h1{

font-size:55px;
color:#1d4ed8;

}

.welcome-card span{

color:#12c48b;

}

.welcome-card h2{

margin-top:20px;
font-weight:500;

}

.welcome-card p{

margin-top:25px;
font-size:18px;
color:#555;
line-height:1.7;

}

button{

margin-top:35px;
width:100%;
padding:18px;
border:none;
border-radius:50px;
font-size:22px;
color:white;
cursor:pointer;

background:linear-gradient(
90deg,
#1d4ed8,
#10d18f
);

}

.features{

display:flex;
justify-content:space-between;
margin-top:50px;

}

.features div{

text-align:center;
font-size:30px;

}

.features p{

font-size:15px;
margin-top:10px;

}